  
body{

}

.title{
	margin-left:3em;
	padding-top: 2em;
	font-family: courier;
	font-size: 40px;
	color: blue;
}
.canvas{
	width: 80%;
	height: 30em;
	margin-right: auto;
	margin-left:auto;
	display:block;
	border:1px solid white;
	cursor: none;
}