  
body{

}

.title{
	margin-left:3.4em;
	padding-top: 2em;
	font-family: courier;
	font-size: 40px;
	color: blue;
}
.canvas{
	width: 80%;
	height: 30em;
	margin-right: auto;
	margin-left:auto;
	display:block;
	border:1px solid blue;
	background-image: url("../assets/1.jpg");
}

.navs{
  font-family: courier;
  text-decoration: none;
  margin-left:9em;
  margin-top: 1em;
}
ul{
  margin: 0;
  padding: 0;
}
.listy {
  display: inline;
  margin-left:9em;
}

.cv{
	width: 80%;
	height: 30em;
	margin-top:5em;
	display:block;
	font-family: courier;
	color: blue;
	margin-left: auto;
    margin-right: auto;
}

table, th, td {
  margin-top:2em;
  border: 1px solid blue;
  text-align: left;
  
}

.ressub{
	font-family: courier;
	color: blue;
	font-size: 20px;
	font-style: bold;
}

.ressubsub{
	font-family: courier;
	color: blue;
	font-size: 15px;
}

.projects{
	width: 80%;
	height: 30em;
	margin-right: auto;
	margin-left:auto;
	display:block;
}

.list-projects{
	margin-top: 2em;
	font-size: 22px;
	display:block;
	margin-right: auto;
	margin-left:auto;
}

.juce{}:w
